*.bz2
*.gz
*.mo
*.out*
*.pyc
*.tar
*.tmproj
.DS_Store
/PyMOTW.egg-info/
/PyMOTW/cgitb/LOGS/
/PyMOTW/codecs/decode_error.txt
/PyMOTW/codecs/encode_error.txt
/PyMOTW/codecs/non-native-encoded.txt
/PyMOTW/codecs/utf-16.txt
/PyMOTW/codecs/utf-32.txt
/PyMOTW/codecs/utf-8.txt
/PyMOTW/csv/testout.csv
/PyMOTW/csv/testout_quoted.csv
/PyMOTW/docs/
/paver-minilib.zip
/sphinx/doctrees/
setup.py
/PyMOTW/filecmp/example/
/PyMOTW/fileinput/etc_hosts.txt
/PyMOTW/gettext/*.pot
/PyMOTW/glob/dir/
/PyMOTW/mailbox/Example/
/PyMOTW/mailbox/example.mbox
/PyMOTW/mmap/lorem_copy.txt
/PyMOTW/os/os_stat_chmod_example.txt
/PyMOTW/ospath/broken_link
/PyMOTW/ospath/example/one/file.txt
/PyMOTW/ospath/example/two.txt
/PyMOTW/pickle/test.dat
/PyMOTW/pkgutil/pkgwithdatainzip.zip
/PyMOTW/random/state.dat
/PyMOTW/shelve/test_shelf.db
/PyMOTW/shutil/file_to_change.txt
/PyMOTW/shutil/shutil_copyfile.py.copy
/PyMOTW/sqlite3/todo.db
/PyMOTW/tarfile/outdir/README.txt
/PyMOTW/trace/coverdir1/
/PyMOTW/trace/coverdir2/
/PyMOTW/trace/trace_report.dat
/PyMOTW/zipimport/zipimport_example.zip
