include PyMOTW/pkgutil/__init__.py
include PyMOTW/pkgutil/demopkg1/__init__.py
include PyMOTW/pkgutil/demopkg1/shared.py
include PyMOTW/pkgutil/demopkg2/__init__.py
include PyMOTW/pkgutil/demopkg2/overloaded.py
include PyMOTW/pkgutil/develop/demopkg2/__init__.py
include PyMOTW/pkgutil/develop/demopkg2/overloaded.py
include PyMOTW/pkgutil/develop/nested/__init__.py
include PyMOTW/pkgutil/develop/nested/second/__init__.py
include PyMOTW/pkgutil/develop/nested/second/deep.py
include PyMOTW/pkgutil/develop/nested/shallow.py
include PyMOTW/pkgutil/extension/__init__.py
include PyMOTW/pkgutil/extension/demopkg1/__init__.py
include PyMOTW/pkgutil/extension/demopkg1/not_shared.py
include PyMOTW/pkgutil/MANIFEST.in
include PyMOTW/pkgutil/nested/__init__.py
include PyMOTW/pkgutil/nested/second/__init__.py
include PyMOTW/pkgutil/nested/second/deep.py
include PyMOTW/pkgutil/nested/shallow.py
include PyMOTW/pkgutil/os_one/demopkg1/__init__.py
include PyMOTW/pkgutil/os_one/demopkg1/not_shared.py
include PyMOTW/pkgutil/os_one/demopkg1.pkg
include PyMOTW/pkgutil/os_two/demopkg1/__init__.py
include PyMOTW/pkgutil/os_two/demopkg1/not_shared.py
include PyMOTW/pkgutil/os_two/demopkg1.pkg
include PyMOTW/pkgutil/pkgutil_devel.py
include PyMOTW/pkgutil/pkgutil_extend_path.py
include PyMOTW/pkgutil/pkgutil_extend_path.sh
include PyMOTW/pkgutil/pkgutil_nested.py
include PyMOTW/pkgutil/pkgutil_os_specific.py
include PyMOTW/pkgutil/run_dev.sh
include PyMOTW/pkgutil/with_os.sh
